FIREBASE_API_KEY="AIzaSyC64cnbwPk94S8aXZh0Z-9isncNhe-WBZo"
FIREBASE_AUTH_DOMAIN="pharmony-6a0b0.firebaseapp.com"
FIREBASE_PROJECT_ID="pharmony-6a0b0"
FIREBASE_STORAGE_BUCKET="pharmony-6a0b0.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="190796263828"
FIREBASE_APP_ID="1:190796263828:web:56686f773c01407cb15f81"
FIREBASE_CREDENTIALS_PATH="ServiceAccountKey.json"
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key_de_cloudinary"
CLOUDINARY_API_SECRET="tu_api_secret_de_cloudinary"
CLOUDINARY_URL="cloudinary://tu_api_key:tu_api_secret@tu_cloud_name"