# ==========================================
# Python / Django
# ==========================================
# Archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Extensiones C
*.so

# Archivos específicos de Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Archivos multimedia y estáticos
media/
staticfiles/

# ==========================================
# Entornos Virtuales
# ==========================================
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# ==========================================
# Secretos y Variables de Entorno (¡MUY IMPORTANTE!)
# ==========================================
# Nunca subas credenciales, llaves o variables de entorno a GitHub
.env
.env.*
serviceAccountKey.json
secrets.json
firebase_credentials.json

# ==========================================
# Archivos de Editores e IDEs (VS Code, PyCharm, etc)
# ==========================================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db

# ==========================================
# Pruebas (Testing / Coverage)
# ==========================================
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
